.formulario-productos {
  width: 100%;
  margin: 5px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);


}

.formulario label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.formulario input[type="text"],
.formulario input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}



.formulario button:hover {
  background-color: #0056b3;
}

.titulo-form-productos {
  margin: 20px 0;
  padding: 20px 0;
  background-color: antiquewhite;
}

.btn-crear-producto {
 font-family: karla, sans-serif;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #0056b3;
  color: white!important;
  margin: 10px 5px;
}
.btn-crear-producto:hover {
  background-color: green!important;
  color: white!important;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.btn-cancelar {
  font-family: karla, sans-serif;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: red;
  color: white;
  margin: 10px 5px;
}

.btn-cancelar:hover {
  background-color: black!important;
  color: red!important;
 
}

